@page "/"
@using Blazor_Server_With_GraphQL.Components

<PageTitle>Index</PageTitle>


<UseGetAssets Context="result" Strategy="ExecutionStrategy.CacheFirst">
    <ChildContent>
    @if (result.Assets?.Nodes is not null)
    {
        @foreach (var asset in result.Assets.Nodes)
        {
            <p>@asset.Name (@asset.Price.LastPrice)</p>
        } 
    }
    </ChildContent>
    <LoadingContent>
        Loading ...
    </LoadingContent>
</UseGetAssets>
